.App {
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.nav-links li {
  list-style-type: none;
  
}

li a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1.5rem;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.logo-container {
  width: 30%;
}
