.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.nav-links li {
  list-style-type: none;
  
}

li a {
  text-decoration: none;
  color: #f4f4f4;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #4452ce;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #f4f4f4;
}

.logo-container {
  width: 30%;
  padding-top: .5rem
}

section {
  padding: 5rem;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 3px solid green; */
}

#skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 3px solid red; */
  align-items: center;
  width: 80%;
}

.skill {
  padding: .7rem;
}

#HTML::before {
  content: '';
  background-image: url('/public/htmllogo.png');
  width: 32px;
  height: 32px;
  display: block;
}
#CSS::before {
  content: '';
  background-image: url('/public/csslogo.png');
  width: 32px;
  height: 32px;
  display: block;
}
#JS::before {
  content: '';
  background-image: url('/public/javascriptlogo.png');
  width: 32px;
  height: 32px;
  display: block;
}
#React::before {
  content: '';
  background-image: url('/public/reactlogo.png');
  width: 32px;
  height: 32px;
  display: block;
}
#Redux::before {
  content: '';
  background-image: url('/public/reduxlogo.png');
  width: 32px;
  height: 32px;
  display: block;
}
#Node::before {
  content: '';
  background-image: url('/public/nodelogo.png');
  width: 32px;
  height: 32px;
  display: block;
}

#me-section {
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1541462608143-67571c6738dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-position: 75% 15%;
}

.dev-card {
  background: rgba(217,217,217, .93);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  border-radius: 1rem;
  padding: 1.25rem;
}

#offer-section {
  background-color: #4452ce;
  color: #d9d9d9;
  width: 100%;
  padding: 3rem;
}

#offer-section p {
  width: 70%;
  padding-top: .5rem;
  color: white;
}

.offerings {
  width: 80%;
}